.update-section {
  margin: 4vh auto 0;
  min-height: 81vh;
  position: relative;

  &::after {
    content: "";
    height: 1px;
    width: 1200px;
    background-color: $lightgrey;
    position: absolute;
    left: 0;
    top: 12px;
    z-index: 1;
  }

  .update-form {
    input {
      width: 200px;
    }
  }

  .show-button {
    background-color: white;
    border: 1px solid $lightgrey;
    height: 38.5px;
    padding: 0 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s;
    display: inline-block;

    svg {
      margin-top: 4px;
      fill: $green;
    }

    &:hover {
      background-color: $lightgrey;

      svg {
        fill: $grey;
      }
    }
  }
}
