* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: "noto sans" ;
}

a {
    color: black;
}
a:hover {
    color: #0061a3;
}

#logonav {
    width: auto;
    height: 50px;
}

header {
    display: flex;
    padding: 0px 0px 0px 20px;
    border-bottom: 1px solid #a6dbff;
    justify-content: space-between;
}


nav ul{
    display: flex;
    padding: 20px;
    vertical-align: middle;
}

nav li {
    padding: 0px 50px;
}

nav a {
    font-weight: 600;
}

#titre {
    height: 40vh;
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;  
}

#imghome {
    height : 30vh;
    width: auto;
}

h2 {
    font-size: 3em;
    text-align: center;
    margin-bottom: 8vh;
}

#qui p {
    text-align: center;
    padding: 0vw 15vw;
}

section {
    padding: 10vh 3vw;
}

#mission {
    background: linear-gradient(-60deg, #004b71,#0061a3);
    color: white;
}

#divmission {
    display: flex;
    justify-content: space-around;
}

h3 {
    margin-bottom: 20px;
    font-size: 19px;
}

#missioncentre {
    margin: 0px 50px;
}

.blocmission {
    border: solid 1px rgba(255, 255, 255, 0.193);
    background: linear-gradient(#0061a3, #0099e645);
    border-radius: 10px;
    width: 30vw;
}

.blocmission img {
    width:100%;
    height:auto;
    display:block;
    border-radius: 10px 10px 0px 0px;
}

.missiontxt {
    padding: 20px;
}
