.main-header {
  color: $grey;
  padding: 20px 10px;

  .title-wrap {
    gap: 5px;

    & > :first-child {
      font-family: "Aboreto";
    }
  }

  .header-logo {
    height: 30px;
    width: auto;
    object-fit: cover;
  }

  .main-nav {
    ul {
      gap: 100px;
      li {
        font-family: "Montserrat Regular";
        cursor: pointer;
        color: $grey;

        &:hover {
          color: $green;
        }
      }
    }
  }
}

@media screen and (max-width: 670px) {
  .main-header,
  .flex-between,
  ul {
    flex-direction: column;
    gap: 15px !important;
    justify-content: start;
    text-align: center;
  }

  .main-header {
    ul {
      & > li {
        width: 200px;
        padding-bottom: 15px;
        border-bottom: 1px solid $lightgrey;
      }
      & > :first-child {
        border-top: 1px solid $lightgrey;
        padding-top: 15px;
      }
    }

    .title-wrap {
      margin-bottom: 15px;
    }

    .underline {
      &::after {
        display: none;
      }
    }
  }
}
