.photos-section {
  position: relative;
  text-align: center;

  .pagination {
    margin-top: 3vh;
    text-align: center;

    & > :first-child {
      display: inline-block;
    }
  }

  &::after {
    content: "";
    height: 1px;
    width: 1200px;
    background-color: $lightgrey;
    position: absolute;
    left: 0;
    top: 12px;
    z-index: 1;
  }

  h2 {
    margin-bottom: 6vh;
  }

  h2 + p + p {
    margin: 1vh 0 8vh;
    font-size: 0.9rem;
  }

  .masonry {
    padding: 0 10px;
    // display: grid;
    // grid-template-columns: repeat(3, 1fr);
    // gap: 50px 20px;

    .image-card {
      height: 250px;
      width: auto;

      img {
        border-radius: 5px;
        width: 100%;
        height: 100%;
        object-fit: contain;
        cursor: pointer;
      }

      .vote-btn {
        background-color: $grey;
        border: 4px solid white;
        color: white;
        border-radius: 10px;
        margin-top: -30px;

        &:hover {
          background-color: $green;
        }
      }

      .disabled {
        background-color: $red;
        pointer-events: none;
      }

      .vote-pop {
        position: relative;

        &::after {
          position: absolute;
          content: "+1";
          font-size: 3rem;
          opacity: 0;
          animation: pop 1s;
          filter: drop-shadow(0 0 5px $grey);

          @keyframes pop {
            0% {
              transform: translatey(-20px);
              opacity: 0;
            }
            50% {
              opacity: 1;
            }
            100% {
              transform: translatey(-80px);
              opacity: 0;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .masonry {
    column-count: 2 !important;
    column-gap: 25px;
    padding: 0 20px !important;
  }
  .modal {
    margin: 0;
    padding: 10vh 0;
  }

  .close {
    right: 10vw;
  }
}

@media screen and (max-width: 650px) {
  .title {
    transform: scale(0.7);
  }
}

@media screen and (max-width: 460px) {
  .masonry {
    column-count: 1 !important;
    column-gap: 15px;
  }
  .title {
    transform: scale(0.5);
  }
}
