.dashboard-header {
  padding: 15px;
  background: linear-gradient($lightgrey, rgb(247, 247, 247));

  .homepage-link {
    margin-top: 10px;
    font-size: 0.8rem;
    color: $green;
  }

  .dashboard-nav {
    gap: 10vw;
    text-align: center;

    li {
      svg {
        height: 30px;
        width: auto;
        transition: all 0.2s ease-in-out;
      }

      p {
        font-size: 0.7rem;
      }

      &:hover {
        a {
          color: $green;
        }

        svg {
          transform: rotate(-5deg);
          fill: $green;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .welcome {
    display: none;
  }
  .dashboard-nav {
    li {
      p {
        display: none;
      }
    }
  }
}
