.dashboard-footer {
  text-align: center;
  padding: 15px;
  background: linear-gradient(rgb(247, 247, 247), $lightgrey);

  .homepage-link {
    display: inline-block;

    &:hover {
      color: $green;
    }
  }
}
