.cgu-section {
  margin: 4vh auto 0;
  position: relative;
  text-align: center;
  min-height: 79vh;
  padding-bottom: 5vh;

  h2 {
    margin-bottom: 3vh;
  }

  &::after {
    content: "";
    height: 1px;
    width: 1200px;
    background-color: $lightgrey;
    position: absolute;
    left: 0;
    top: 12px;
    z-index: 1;
  }

  .cgu-wrap {
    padding: 0 10vw;
    p {
      text-align: left;
    }
  }

  strong {
    margin: 30px 0 10px;
    display: block;
  }
}
