.bg-login {
  min-height: 80vh;
  background: linear-gradient(
      rgb(255, 255, 255) 10%,
      rgba(255, 255, 255, 0) 40%,
      rgba(255, 255, 255, 0) 92%,
      rgb(255, 255, 255) 100%
    ),
    url(../../../public/images/bg_login.jpg);
  background-size: cover;
  background-position: 0% 73%;

  .login-section {
    margin: 4vh auto 0;
    position: relative;

    &::after {
      content: "";
      height: 1px;
      width: 1200px;
      background-color: $lightgrey;
      position: absolute;
      left: 0;
      top: 12px;
      z-index: 1;
    }

    .login-form {
      margin-bottom: 5vh;
      background-color: white;

      input {
        width: 200px;
      }
    }

    .signup-redirection {
      text-align: center;
      & > :first-child {
        margin-bottom: 20px;
      }
    }
  }
}
