// Colors

$grey: rgb(42, 42, 42);
$lightgrey: rgb(226, 226, 226);
$green: rgb(0, 121, 91);
$red: rgb(230, 85, 85);

// FONTS

@font-face {
  font-family: "Aboreto";
  src: url(./fonts/Aboreto-Regular.ttf);
}

@font-face {
  font-family: "Montserrat Regular";
  src: url(./fonts/Montserrat-Regular.otf);
}
@font-face {
  font-family: "Montserrat Light";
  src: url(./fonts/Montserrat-Light.otf);
}
@font-face {
  font-family: "Montserrat ExtraLight";
  src: url(./fonts/Montserrat-ExtraLight.otf);
}
@font-face {
  font-family: "Montserrat Bold";
  src: url(./fonts/Montserrat-Bold.otf);
}

//

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: "Montserrat Light";
}

html {
  --scroll-behavior: smooth;
  scroll-behavior: smooth;
}

body {
  color: $grey;
}

a {
  color: $grey;
}

.bold {
  font-family: "Montserrat Bold";
}

strong {
  font-family: "Montserrat Bold";
}

// FLEX

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-column-start {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

// UNDERLINE

.underline {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    background-color: $green;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.2s ease-in-out;
  }

  &:hover::after {
    width: 75%;
  }
}

// CONTAINER

.main-container {
  margin: 0 auto;
  max-width: 1200px;
}

.homepage-section {
  margin-bottom: 10vh;
}

.dashboard-main {
  min-height: 85vh;
}

// TITLES

h2 {
  font-family: "Aboreto";
  display: inline-block;
  position: relative;
  background-color: white;
  z-index: 10;
  padding: 0 20px;
  margin-bottom: 6vh;
}

// FORM

form {
  margin-top: 10vh;
  padding: 20px 40px;
  border: 1px solid $lightgrey;
  border-radius: 10px;
  gap: 20px;

  input,
  textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid $lightgrey;
  }

  .submit-btn {
    font-size: 1rem;
    color: white;
    background-color: $green;
  }
}

// MODAL

/* Style pour la modale */
.modal {
  display: none;
  position: fixed;
  z-index: 100;
  padding: 50px;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  cursor: pointer;
  backdrop-filter: blur(2px);
}

/* Style pour l'image agrandie */
.modal-content {
  max-width: 80vw;
  max-height: 80vh;
  margin: 0 8vw 0 0;
  border-radius: 5px;
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.655);
}

/* Style pour le bouton de fermeture */
.close {
  position: absolute;
  top: 20px;
  right: 130px;
  box-shadow: 0 0 5px $grey;
  cursor: pointer;
}
